# =========================
# Data (do not upload)
# =========================
data/raw/
data/clean/
results/

# =========================
# Large genomic files
# =========================
*.vcf
*.vcf.gz
*.gz
*.bgz

# =========================
# R files
# =========================
.Rhistory
.RData
.Rproj.user/

# =========================
# Environment / secrets
# =========================
.env

# =========================
# Temporary files
# =========================
*.log
*.tmp
